body {
  background-color: #ecf1f3 !important;
}

main {
  position: relative;
}

#welcome {
  color: rebeccapurple;
  display: flex;
  justify-content: center;
  margin: 50px 0 20px 0;
}

#selectMode {
  color: rebeccapurple;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.show-broad {
  background-color: #f5f6fa !important;
}

.turnMove {
  color: purple;
  font-size: 21px;
}

#reload {
  margin-top: 10px;
}

#alert-choose {
  display: inline-block;
  margin-left: 36%;
  border: 2px solid #dcdcdc;
  padding: 25px;
  border-radius: 20px;
  -webkit-box-shadow: -1px -1px 16px 2px rgba(113, 128, 147, 1);
  -moz-box-shadow: -1px -1px 16px 2px rgba(113, 128, 147, 1);
  box-shadow: -1px -1px 16px 2px rgba(113, 128, 147, 1);
}

#alert-choose > div {
  margin-left: 30px;
}

#show-human {
  display: none;
}
#show-ai {
  display: none;
}
