#blackBackground {
	position: absolute;
	background-color: black;
	left: 0px;
	right: 0px;
	height: 500px;
	width: 500px;
}

#score {
	position: absolute;
	left: 0px;
	top: 560px;
	width: 550px;
	font-size: 35px;
	background-color: black;
	color: white;
	text-align: center;
}
